@implements IDisposable

<table class="table table-bordered py-0">
    <thead>
        <tr>
            <ThComponent>@ResLoc["Article"]</ThComponent>
            <ThComponent>@ResLoc["LineСode"]</ThComponent>
            <ThComponent>@ResLoc["AtBeginningReportingPeriod"]</ThComponent>
            <ThComponent>@ResLoc["AtEndingReportingPeriod"]</ThComponent>
        </tr>
    </thead>
    <tbody>
        <tr>
            <TdComponent>1</TdComponent>
            <TdComponent>2</TdComponent>
            <TdComponent>3</TdComponent>
            <TdComponent>4</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">I. @ResLoc["FinancialResults"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["NetIncomeFromSalesOfProducts"]</TdComponent>
            <TdComponent>2000</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2000begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2000end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["CostOfGoodsSold"]</TdComponent>
            <TdComponent>2050</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2050begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2050end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Gross"]):</TdComponent>
            <TdComponent Rowspan="2">2090</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2090begin</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2090end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2095</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2095begin</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2095end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingIncome"]</TdComponent>
            <TdComponent>2120</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2120begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2120end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["AdministrativeExpenses"]</TdComponent>
            <TdComponent>2130</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2130begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2130end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["SellingExpenses"]</TdComponent>
            <TdComponent>2150</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2150begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2150end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingExpenses"]</TdComponent>
            <TdComponent>2180</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2180begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2180end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultFromOperatingActivities"]):</TdComponent>
            <TdComponent Rowspan="2">2190</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2190begin</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2190end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2195</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2195begin</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2195end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeFromEquityParticipation"])</TdComponent>
            <TdComponent>2200</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2200begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2200end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherFinancialIncome"])</TdComponent>
            <TdComponent>2220</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2220begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2220end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherIncome"])</TdComponent>
            <TdComponent>2240</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2240begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2240end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialExpenses"])</TdComponent>
            <TdComponent>2250</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2250begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2250end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LossesFromEquityParticipation"])</TdComponent>
            <TdComponent>2255</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2255begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2255end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherExpenses"])</TdComponent>
            <TdComponent>2270</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2270begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2270end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultBeforeTax"]):</TdComponent>
            <TdComponent Rowspan="2">2290</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2290begin</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2290end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2295</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2295begin</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2295end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ExpensesIncomeFromIncomeTax"])</TdComponent>
            <TdComponent>2300</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2300begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2300end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ProfitLossFromDiscontinuedOperationsAfterTax"])</TdComponent>
            <TdComponent>2305</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2305begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2305end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetFinancialResult"]):</TdComponent>
            <TdComponent Rowspan="2">2350</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2350begin</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2350end</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2355</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2355begin</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2355end</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">II. @ResLoc["ComprehensiveIncome"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationNonCurrentAssets"])</TdComponent>
            <TdComponent>2400</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2400begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2400end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationFinancialInstruments"])</TdComponent>
            <TdComponent>2405</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2405begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2405end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AccumulatedExchangeRateDifferences"])</TdComponent>
            <TdComponent>2410</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2410begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2410end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ShareOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2415</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2415begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2415end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherTotalIncome"])</TdComponent>
            <TdComponent>2445</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2445begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2445end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregatePreTaxIncome"])</ThComponent>
            <ThComponent>2450</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2450begin</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2450end</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeTaxRelatedOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2455</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2455begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2455end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregateIncomeAfterTax"])</ThComponent>
            <ThComponent>2460</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2460begin</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2460end</ThComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalIncome"])</ThComponent>
            <ThComponent>2465</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2465begin</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2465end</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">III. @ResLoc["ElementsOperatingCosts"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["MaterialCosts"])</TdComponent>
            <TdComponent>2500</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2500begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2500end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["SalaryExpenses"])</TdComponent>
            <TdComponent>2505</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2505begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2505end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DeductionsSocialEvents"])</TdComponent>
            <TdComponent>2510</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2510begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2510end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Amortization"])</TdComponent>
            <TdComponent>2515</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2515begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2515end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherOperatingExpenses"])</TdComponent>
            <TdComponent>2520</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2520begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2520end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["Total"])</ThComponent>
            <ThComponent>2550</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2550begin</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2550end</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">ІV. @ResLoc["CalculationStockProfitabilityIndicators"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2600</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2600begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2600end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedAverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2605</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2605begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2605end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2610</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2610begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2610end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedNetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2615</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2615begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2615end Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DividendsPerSimpleShare"])</TdComponent>
            <TdComponent>2650</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2650begin Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2650end Class="w-100" />
            </TdComponent>
        </tr>
    </tbody>
</table>

@code
{
    private event Action? fieldChanged;

    protected override void OnInitialized()
    {
        fieldChanged = () => StateHasChanged();
        MainModel.F2Base.OnChange += fieldChanged;
        base.OnInitialized();
    }

    public void Dispose() => MainModel.F2Base.OnChange += fieldChanged;
}
