@implements IDisposable

<table class="table table-bordered py-0 table-sm">
    <thead>
        <tr>
            <ThComponent>@ResLoc["Article"]</ThComponent>
            <ThComponent>@ResLoc["LineСode"]</ThComponent>
            <ThComponent>@ResLoc["ForReportingPeriod"]</ThComponent>
            <ThComponent>@ResLoc["ForSamePeriodLastYear"]</ThComponent>
        </tr>
    </thead>
    <tbody>
        <tr>
            <TdComponent>1</TdComponent>
            <TdComponent>2</TdComponent>
            <TdComponent>3</TdComponent>
            <TdComponent>4</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">I. @ResLoc["FinancialResults"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["NetIncomeFromSalesOfProducts"]</TdComponent>
            <TdComponent>2000</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2000curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2000previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["CostOfGoodsSold"]</TdComponent>
            <TdComponent>2050</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2050curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2050previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Gross"]):</TdComponent>
            <TdComponent Rowspan="2">2090</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2090curent</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2090previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2095</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2095curent</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2095previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingIncome"]</TdComponent>
            <TdComponent>2120</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2120curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2120previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["AdministrativeExpenses"]</TdComponent>
            <TdComponent>2130</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2130curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2130previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["SellingExpenses"]</TdComponent>
            <TdComponent>2150</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2150curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2150previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingExpenses"]</TdComponent>
            <TdComponent>2180</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2180curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2180previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultFromOperatingActivities"]):</TdComponent>
            <TdComponent Rowspan="2">2190</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2190curent</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2190previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2195</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2195curent</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2195previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeFromEquityParticipation"])</TdComponent>
            <TdComponent>2200</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2200curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2200previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherFinancialIncome"])</TdComponent>
            <TdComponent>2220</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2220curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2220previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherIncome"])</TdComponent>
            <TdComponent>2240</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2240curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2240previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialExpenses"])</TdComponent>
            <TdComponent>2250</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2250curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2250previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LossesFromEquityParticipation"])</TdComponent>
            <TdComponent>2255</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2255curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2255previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherExpenses"])</TdComponent>
            <TdComponent>2270</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2270curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2270previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultBeforeTax"]):</TdComponent>
            <TdComponent Rowspan="2">2290</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2290curent</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2290previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2295</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2295curent</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2295previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ExpensesIncomeFromIncomeTax"])</TdComponent>
            <TdComponent>2300</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2300curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2300previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ProfitLossFromDiscontinuedOperationsAfterTax"])</TdComponent>
            <TdComponent>2305</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2305curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2305previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetFinancialResult"]):</TdComponent>
            <TdComponent Rowspan="2">2350</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2350curent</TdComponent>
            <TdComponent  Rowspan="2" Align="MR" Spacing="pr-4">@MainModel.F2Base.F2350previous</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2355</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2355curent</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2355previous</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">II. @ResLoc["ComprehensiveIncome"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationNonCurrentAssets"])</TdComponent>
            <TdComponent>2400</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2400curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2400previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationFinancialInstruments"])</TdComponent>
            <TdComponent>2405</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2405curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2405previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AccumulatedExchangeRateDifferences"])</TdComponent>
            <TdComponent>2410</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2410curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2410previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ShareOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2415</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2415curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2415previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherTotalIncome"])</TdComponent>
            <TdComponent>2445</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2445curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2445previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregatePreTaxIncome"])</ThComponent>
            <ThComponent>2450</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2450curent</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2450previous</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeTaxRelatedOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2455</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2455curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2455previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregateIncomeAfterTax"])</ThComponent>
            <ThComponent>2460</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2460curent</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2460previous</ThComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalIncome"])</ThComponent>
            <ThComponent>2465</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2465curent</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2465previous</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">III. @ResLoc["ElementsOperatingCosts"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["MaterialCosts"])</TdComponent>
            <TdComponent>2500</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2500curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2500previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["SalaryExpenses"])</TdComponent>
            <TdComponent>2505</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2505curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2505previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DeductionsSocialEvents"])</TdComponent>
            <TdComponent>2510</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2510curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2510previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Amortization"])</TdComponent>
            <TdComponent>2515</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2515curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2515previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherOperatingExpenses"])</TdComponent>
            <TdComponent>2520</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2520curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2520previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["Total"])</ThComponent>
            <ThComponent>2550</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2550curent</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@MainModel.F2Base.F2550previous</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">ІV. @ResLoc["CalculationStockProfitabilityIndicators"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2600</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2600curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2600previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedAverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2605</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2605curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2605previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2610</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2610curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2610previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedNetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2615</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2615curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2615previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DividprevioussPerSimpleShare"])</TdComponent>
            <TdComponent>2650</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2650curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@MainModel.F2Base.F2650previous Class="w-100" />
            </TdComponent>
        </tr>
    </tbody>
</table>

@code
{
    private event Action? fieldChanged;

    protected override void OnInitialized()
    {
        fieldChanged = () => StateHasChanged();
        MainModel.F2Base.OnChange += fieldChanged;
        base.OnInitialized();
    }

    public void Dispose() => MainModel.F2Base.OnChange += fieldChanged;
}
