@inject CharacteristicsOfCapital CharacteristicsOfCapital

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <h5 class="text-end">(@ResLoc["thousandUAH"])</h5>
    <table class="table table-bordered py-0 table-sm table-striped">
        <thead>
            <tr>
                <ThComponent Rowspan=2>@ResLoc["NumberInOrder"]</ThComponent>
                <ThComponent Rowspan=2>@ResLoc["Indicators"]</ThComponent>
                <ThComponent Colspan=4>@MainModel.BaseYear  @ResLoc["year"]</ThComponent>
                <ThComponent Colspan=4>@MainModel.CurrentYear  @ResLoc["year"]</ThComponent>
            </tr>
            <tr>
                <ThComponent>@ResLoc["atBeginOfYear"]</ThComponent>
                <ThComponent>@ResLoc["atEndOfYear"]</ThComponent>
                <ThComponent>@ResLoc["deviation"] (+,-)</ThComponent>
                <ThComponent>@ResLoc["growthRate"], %</ThComponent>
                <ThComponent>@ResLoc["atBeginOfYear"]</ThComponent>
                <ThComponent>@ResLoc["atEndOfYear"]</ThComponent>
                <ThComponent>@ResLoc["deviation"] (+,-)</ThComponent>
                <ThComponent>@ResLoc["growthRate"], %</ThComponent>
            </tr>
        </thead>
        <tbody>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.TotalAssets.Base
                Current=@CharacteristicsOfCapital.TotalAssets.Current Colspan=2 FieldName=@ResLoc["TotalAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">1.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.Base
                Current=@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.Current FieldName=@ResLoc["NonCurrentImmobilizedAssets"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.InPercentageOfAssetsBase
                Current=@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.InPercentageOfAssetsCurrent IsShowGrowthRate="false" FieldName=@ResLoc["Samein%OfAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.CurrentMobileAssets.Base
                Current=@CharacteristicsOfCapital.CurrentMobileAssets.Current FieldName=@ResLoc["CurrentMobileAssets"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.CurrentMobileAssets.InPercentageOfAssetsBase
                Current=@CharacteristicsOfCapital.CurrentMobileAssets.InPercentageOfAssetsCurrent IsShowGrowthRate="false" FieldName=@ResLoc["Samein%OfAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.1.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.TangibleCurrentAssets.Base
                Current=@CharacteristicsOfCapital.TangibleCurrentAssets.Current Spacing="pl-3" FieldName=@ResLoc["TangibleCurrentAssets"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.TangibleCurrentAssets.InPercentageOfCurrentAssetsBase
                Current=@CharacteristicsOfCapital.TangibleCurrentAssets.InPercentageOfCurrentAssetsCurrent IsShowGrowthRate="false" Spacing="pl-3" FieldName=@ResLoc["in%toCurrentMobileAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.2.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.AccountsReceivable.Base
                Current=@CharacteristicsOfCapital.AccountsReceivable.Current Spacing="pl-3" FieldName=@ResLoc["AccountsReceivable"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.AccountsReceivable.InPercentageOfCurrentAssetsBase
                Current=@CharacteristicsOfCapital.AccountsReceivable.InPercentageOfCurrentAssetsCurrent IsShowGrowthRate="false" Spacing="pl-3" FieldName=@ResLoc["in%toCurrentMobileAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.3.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.CashCurrentFinancialInvestments.Base 
                Current=@CharacteristicsOfCapital.CashCurrentFinancialInvestments.Current Spacing="pl-3" FieldName=@ResLoc["CashCurrentFinancialInvestments"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.CashCurrentFinancialInvestments.InPercentageOfCurrentAssetsBase
                Current=@CharacteristicsOfCapital.CashCurrentFinancialInvestments.InPercentageOfCurrentAssetsCurrent IsShowGrowthRate="false" Spacing="pl-3" FieldName=@ResLoc["in%toCurrentMobileAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.4.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.OtherCurrentAssets.Base
                Current=@CharacteristicsOfCapital.OtherCurrentAssets.Current Spacing="pl-3" FieldName=@ResLoc["OtherCurrentAssets"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.OtherCurrentAssets.InPercentageOfCurrentAssetsBase
                Current=@CharacteristicsOfCapital.OtherCurrentAssets.InPercentageOfCurrentAssetsCurrent IsShowGrowthRate="false" Spacing="pl-3" FieldName=@ResLoc["in%toCurrentMobileAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.5.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.FutureExpenses.Base
                Current=@CharacteristicsOfCapital.FutureExpenses.Current Spacing="pl-3" FieldName=@ResLoc["FutureExpenses"] />
            </tr>
            <tr>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.FutureExpenses.InPercentageOfCurrentAssetsBase
                Current=@CharacteristicsOfCapital.FutureExpenses.InPercentageOfCurrentAssetsCurrent IsShowGrowthRate="false" Spacing="pl-3" FieldName=@ResLoc["in%toCurrentMobileAssets"] />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">3.</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.Base
                Current=@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.Current FieldName=@ResLoc["LiabilitiesRelatedNonCurrentAssetsHeldForSale"]/>
            </tr>
            <tr>
                <TdComponent Align="ML">@ResLoc["Samein%OfAssets"]</TdComponent>
                <TdsCharacteristicsOfCapitalComponent Base=@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.InPercentageOfAssetsBase
                Current=@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.InPercentageOfAssetsCurrent IsShowGrowthRate="false" FieldName=@ResLoc["Samein%OfAssets"] />
            </tr>
        </tbody>
    </table>
</RadzenCard>

@code {
    private string? tableName;

    protected override void OnInitialized()
    {
        tableName = String.Format(ResLoc["CharacteristicsOfCapitalTablName"], 1, MainModel.CompanyName, MainModel.BaseYear, MainModel.CurrentYear);
        base.OnInitialized();
    }
}
