@inject CharacteristicsOfCapital CharacteristicsOfCapital

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <h5 class="text-end">(@ResLoc["thousandUAH"])</h5>
    <table class="table table-bordered py-0 table-sm table-striped">
        <thead>
            <tr>
                <ThComponent Rowspan=2>@ResLoc["NumberInOrder"]</ThComponent>
                <ThComponent Rowspan=2>@ResLoc["Indicators"]</ThComponent>
                <ThComponent Colspan=4>@MainModel.BaseYear  @ResLoc["year"]</ThComponent>
                <ThComponent Colspan=4>@MainModel.CurrentYear  @ResLoc["year"]</ThComponent>
            </tr>
            <tr>
                <ThComponent>@ResLoc["atBeginOfYear"]</ThComponent>
                <ThComponent>@ResLoc["atEndOfYear"]</ThComponent>
                <ThComponent>@ResLoc["deviation"] (+,-)</ThComponent>
                <ThComponent>@ResLoc["growthRate"], %</ThComponent>
                <ThComponent>@ResLoc["atBeginOfYear"]</ThComponent>
                <ThComponent>@ResLoc["atEndOfYear"]</ThComponent>
                <ThComponent>@ResLoc["deviation"] (+,-)</ThComponent>
                <ThComponent>@ResLoc["growthRate"], %</ThComponent>
            </tr>
        </thead>
        <tbody>
            <tr>
                <TdComponent Colspan=2 Align="ML">@ResLoc["TotalAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TotalAssets.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TotalAssets.Current" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">1.</TdComponent>
                <TdComponent Align="ML">@ResLoc["NonCurrentImmobilizedAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML">@ResLoc["Samein%OfAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.InPercentageOfAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.NonCurrentImmobilizedFunds.InPercentageOfAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.</TdComponent>
                <TdComponent Align="ML">@ResLoc["CurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CurrentMobileAssets.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CurrentMobileAssets.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML">@ResLoc["Samein%OfAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CurrentMobileAssets.InPercentageOfAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CurrentMobileAssets.InPercentageOfAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.1.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["TangibleCurrentAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TangibleCurrentAssets.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TangibleCurrentAssets.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["in%toCurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TangibleCurrentAssets.InPercentageOfCurrentAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.TangibleCurrentAssets.InPercentageOfCurrentAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.2.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["AccountsReceivable"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.AccountsReceivable.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.AccountsReceivable.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["in%toCurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.AccountsReceivable.InPercentageOfCurrentAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.AccountsReceivable.InPercentageOfCurrentAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.3.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["CashCurrentFinancialInvestments"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CashCurrentFinancialInvestments.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CashCurrentFinancialInvestments.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["in%toCurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CashCurrentFinancialInvestments.InPercentageOfCurrentAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.CashCurrentFinancialInvestments.InPercentageOfCurrentAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.4.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["OtherCurrentAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.OtherCurrentAssets.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.OtherCurrentAssets.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["in%toCurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.OtherCurrentAssets.InPercentageOfCurrentAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.OtherCurrentAssets.InPercentageOfCurrentAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">2.5.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["FutureExpenses"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.FutureExpenses.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.FutureExpenses.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML" Spacing="pl-3">@ResLoc["in%toCurrentMobileAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.FutureExpenses.InPercentageOfCurrentAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.FutureExpenses.InPercentageOfCurrentAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
            <tr>
                <TdComponent Rowspan="2" Align="ML">3.</TdComponent>
                <TdComponent Align="ML">@ResLoc["LiabilitiesRelatedNonCurrentAssetsHeldForSale"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.Base" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.Current" />
            </tr>
            <tr>
                <TdComponent Align="ML">@ResLoc["Samein%OfAssets"]</TdComponent>
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.InPercentageOfAssetsBase" IsShowGrowthRate="false" />
                <TdsBasicCalculationDataComponent Item="@CharacteristicsOfCapital.LiabilitiesRelatedNonCurrentAssetsHeldForSale.InPercentageOfAssetsCurrent" IsShowGrowthRate="false" />
            </tr>
        </tbody>
    </table>
</RadzenCard>

@code {
    private string? tableName;

    protected override void OnInitialized()
    {
        tableName = String.Format(ResLoc["CharacteristicsOfCapitalTablName"], 1, MainModel.CompanyName, MainModel.BaseYear, MainModel.CurrentYear);
        base.OnInitialized();
    }
}
