@inject ClassificationOfTypesOfFinancialStability ClassificationOfTypesOfFinancialStability

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <table class="table table-bordered py-0 table-sm table-striped">
        <thead>
            <tr>
                <ThComponent Rowspan=2>@ResLoc["NumberInOrder"]</ThComponent>
                <ThComponent Rowspan=2>@ResLoc["StabilityType"]</ThComponent>
                <ThComponent Colspan=2>@ResLoc["Current"]</ThComponent>
                <ThComponent Colspan=2>@ResLoc["InShortTerm"]</ThComponent>
                <ThComponent Colspan=2>@ResLoc["InLongTerm"]</ThComponent>
            </tr>
            <tr>
                <ThComponent>@atEndOfBase</ThComponent>
                <ThComponent>@atEndOfCurrent</ThComponent>
                <ThComponent>@atEndOfBase</ThComponent>
                <ThComponent>@atEndOfCurrent</ThComponent>
                <ThComponent>@atEndOfBase</ThComponent>
                <ThComponent>@atEndOfCurrent</ThComponent>
            </tr>
        </thead>
        <tbody>
            <TrClassificationOfTypesOfFinancialStabilityComponent Item=ClassificationOfTypesOfFinancialStability.AbsoluteFinancialStability
                                                                  Name=@ResLoc["AbsoluteFinancialStabilityInit"]
                                                                  CName=@ResLoc["A1P1"]
                                                                  ShortName=@ResLoc["A1P1P2"]
                                                                  LongName=@ResLoc["A1P1P2P3"] />
            <TrClassificationOfTypesOfFinancialStabilityComponent Item=ClassificationOfTypesOfFinancialStability.NormalFinancialStability
                                                                  Name=@ResLoc["NormalFinancialStability"]
                                                                  CName=@ResLoc["A1A2P1"]
                                                                  ShortName=@ResLoc["A1A2P1P2"]
                                                                  LongName=@ResLoc["A1A2P1P2P3"] />
            <TrClassificationOfTypesOfFinancialStabilityComponent Item=ClassificationOfTypesOfFinancialStability.PreCrisisFinancialStability
                                                                  Name=@ResLoc["PreCrisisFinancialStability"]
                                                                  CName=@ResLoc["A1A2A3P1"]
                                                                  ShortName=@ResLoc["A1A2A3P1P2"]
                                                                  LongName=@ResLoc["A1A2A3P1P2P3"] />
            <TrClassificationOfTypesOfFinancialStabilityComponent Item=ClassificationOfTypesOfFinancialStability.CrisisFinancialStability
                                                                  Name=@ResLoc["CrisisFinancialStability"]
                                                                  CName=@ResLoc["A1A2A3<P1"]
                                                                  ShortName=@ResLoc["A1A2A3<P1P2"]
                                                                  LongName=@ResLoc["A1A2A3<P1P2P3"] />
        </tbody>
    </table>
</RadzenCard>

@code {
    private string? tableName;
    private string? atEndOfBase;
    private string? atEndOfCurrent;

    protected override void OnInitialized()
    {
        string name = ResLoc["ClassificationOfTypesOfFinancialStability"];
        int number = 16;

        tableName = String.Format("{0} {1}. {2} {3} {4}-{5} {6}", ResLoc["Table"], number, name, MainModel.CompanyName, MainModel.BaseYear, MainModel.CurrentYear, ResLoc["years"]);
        atEndOfBase = String.Format(ResLoc["atEndOf"], MainModel.BaseYear);
        atEndOfCurrent = String.Format(ResLoc["atEndOf"], MainModel.CurrentYear);

        base.OnInitialized();
    }
}
