@inject FactorAnalysisOfFixedAssets FactorAnalysisOfFixedAssets

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <h5 class="text-end">(@ResLoc["thousandUAH"])</h5>
    <table class="table table-bordered py-0 table-sm table-striped">
        <THeadCommonComponent />
        <tbody>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.NetIncomeFromSales>@ResLoc["NetIncomeFromSales"]</TrTwoYearsCalculationDataComponent>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.AverageNumberOfEmployees>@ResLoc["AverageNumberOfEmployees"], @ResLoc["people"]</TrTwoYearsCalculationDataComponent>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.ProductivityOfOneAverageEmployee Digits=2>@ResLoc["ProductivityOfOneAverageEmployee"]</TrTwoYearsCalculationDataComponent>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.AverageAnnualCostOfFixedAssets>@ResLoc["AverageAnnualCostOfFixedAssets"]</TrTwoYearsCalculationDataComponent>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.LaborCapitalOfOneAverageEmployee Digits=2>@ResLoc["LaborCapitalOfOneAverageEmployee"]</TrTwoYearsCalculationDataComponent>
            <TrTwoYearsCalculationDataComponent Item=@FactorAnalysisOfFixedAssets.ReturnOnFixedAssets Digits=2>@ResLoc["ReturnOnFixedAssets"], @ResLoc["currency"]</TrTwoYearsCalculationDataComponent>
        </tbody>
    </table>
</RadzenCard>

@code {
    private string? tableName;

    protected override void OnInitialized()
    {
        string name = ResLoc["FactorAnalysisOfFixedAssets"];
        int number = 8;

        tableName = String.Format("{0} {1}. {2} {3} {4}-{5} {6}", ResLoc["Table"], number, name, MainModel.CompanyName, MainModel.BaseYear, MainModel.CurrentYear, ResLoc["years"]);
        base.OnInitialized();
    }
}