@inject IndicatorsOfTurnoverOfCurrentAssets IndicatorsOfTurnoverOfCurrentAssets

<RadzenCard Style="width: 100%;">
    <h2 class="text-center">@tableName</h2>
    <table class="table table-bordered py-0 table-sm table-striped">
        <thead>
            <tr>
                <ThComponent>@ResLoc["NumberInOrder"]</ThComponent>
                <ThComponent>@ResLoc["Indicators"]</ThComponent>
                <ThComponent>@MainModel.BaseYear  @ResLoc["year"]</ThComponent>
                <ThComponent>@MainModel.CurrentYear  @ResLoc["year"]</ThComponent>
                <ThComponent>@ResLoc["Deviation_"] (+,-)</ThComponent>
                <ThComponent>@ResLoc["Dynamics"], %</ThComponent>
            </tr>
        </thead>
        <tbody>
            <tr>
                <TdComponent Align="ML">1.</TdComponent>
                <TdComponent Align="ML">@ResLoc["AverageWorkingCapitalBalances"], @ResLoc["thousandUAH"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.AverageWorkingCapitalBalances" />
            </tr>
            <tr>
                <TdComponent Align="ML">1.1.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromMoney"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.AverageFromMoney" />
            </tr>
            <tr>
                <TdComponent Align="ML">1.2.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromReceivables"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.AverageFromReceivables" />
            </tr>
            <tr>
                <TdComponent Align="ML">1.3.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromTangibleAssets"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.AverageFromTangibleAssets" />
            </tr>
            <tr>
                <TdComponent Align="ML">2.</TdComponent>
                <TdComponent Align="ML">@ResLoc["NetIncomeFromSales"], @ResLoc["thousandUAH"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.NetIncomeFromSales" />
            </tr>
            <tr>
                <TdComponent Align="ML">2.1.</TdComponent>
                <TdComponent Align="ML">@ResLoc["OneDaySalesRevenue"], @ResLoc["thousandUAH"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.OneDaySalesRevenue" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">3.</TdComponent>
                <TdComponent Align="ML">@ResLoc["TurnoverOfWorkingCapital"], @ResLoc["days"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.TurnoverOfWorkingCapital" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">3.1.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["moneyTurnover"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.MoneyTurnover" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">3.2.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["receivablesTurnover"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.ReceivablesTurnover" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">3.3.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["materialValuesTurnover"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.MaterialValuesTurnover" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">4.</TdComponent>
                <TdComponent Align="ML">@ResLoc["NumberOfRevolutionsOfCurrentAssets"], @ResLoc["times"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.NumberOfRevolutionsOfCurrentAssets" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">4.1.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromMoney"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.RevolutionsFromMoney" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">4.2.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromReceivables"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.RevolutionsFromReceivables" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">4.3.</TdComponent>
                <TdComponent Align="ML" Spacing="pl-3">-@ResLoc["fromTangibleAssets"]</TdComponent>
                <TdsTwoYearsCalculationDataComponent Item="@IndicatorsOfTurnoverOfCurrentAssets.RevolutionsFromTangibleAssets" Digits="2" />
            </tr>
            <tr>
                <TdComponent Align="ML">5.</TdComponent>
                <TdComponent Align="ML">@ResLoc["FixingRatioOfCurrentAssets"]</TdComponent>
                <TdComponent Align="MR">@Constraints.RoundStr(@IndicatorsOfTurnoverOfCurrentAssets.FixingRatioOfCurrentAssets.BaseYear, 4)</TdComponent>
                <TdComponent Align="MR">@Constraints.RoundStr(@IndicatorsOfTurnoverOfCurrentAssets.FixingRatioOfCurrentAssets.CurrentYear, 4)</TdComponent>
                <TdComponent Align="MR">@Constraints.RoundStr(@IndicatorsOfTurnoverOfCurrentAssets.FixingRatioOfCurrentAssets.Deviations, 4)</TdComponent>
                <TdComponent Align="MR">x</TdComponent>
            </tr>
            <tr>
                <TdComponent Align="ML">6.</TdComponent>
                <TdComponent Align="ML">@ResLoc["ReleaseOrLackOfCurrentAssetsDueTurnover"]</TdComponent>
                <TdComponent Align="MR">x</TdComponent>
                <TdComponent Align="MR">@Constraints.RoundStr(@IndicatorsOfTurnoverOfCurrentAssets.ReleaseOrLackOfCurrentAssetsDueTurnover.CurrentYear, 4)</TdComponent>
                <TdComponent Align="MR">x</TdComponent>
                <TdComponent Align="MR">x</TdComponent>
            </tr>
        </tbody>
    </table>
</RadzenCard>

@code {
    private string? tableName;

    protected override void OnInitialized()
    {
        tableName = String.Format(ResLoc["IndicatorsOfTurnoverOfCurrentAssetsTablName"], 2, MainModel.CompanyName, MainModel.BaseYear, MainModel.CurrentYear);
        base.OnInitialized();
    }
}
