@implements IDisposable

<table class="table table-bordered py-0 table-sm">
    <thead>
        <tr>
            <ThComponent>@ResLoc["Asset"]</ThComponent>
            <ThComponent>@ResLoc["LineСode"]</ThComponent>
            <ThComponent>@ResLoc["AtBeginningReportingPeriod"]</ThComponent>
            <ThComponent>@ResLoc["AtEndingReportingPeriod"]</ThComponent>
        </tr>
    </thead>
    <tbody>
        <tr>
            <TdComponent>1</TdComponent>
            <TdComponent>2</TdComponent>
            <TdComponent>3</TdComponent>
            <TdComponent>4</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">I. @ResLoc["NonCurrentAssets"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["IntangibleAssets"]</TdComponent>
            <TdComponent>1000</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1000Begin()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1000End()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["initialCost"]</TdComponent>
            <TdsF1Component Field=@F1.F1001 FieldNumber="1001" />
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["accumulatedDepreciation"]</TdComponent>
            <TdsF1Component Field=@F1.F1002 FieldNumber="1002" />
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["IncompleteCapitalInvestments"]</TdComponent>
            <TdsF1Component Field=@F1.F1005 FieldNumber="1005" />
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["FixedAssets"]</TdComponent>
            <TdComponent>1010</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1010Begin()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1010End()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["initialCost"]</TdComponent>
            <TdsF1Component Field=@F1.F1011 FieldNumber="1011" />
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["wear"]</TdComponent>
            <TdsF1Component Field=@F1.F1012 FieldNumber="1012"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["InvestmentProperty"]</TdComponent>
            <TdComponent>1015</TdComponent>
            <TdsF1Component Field=@F1.F1015 FieldNumber="1015"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["LongTermBiologicalAssets"]</TdComponent>
            <TdsF1Component Field=@F1.F1020 FieldNumber="1020"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LongTermFinancialIvestments"])</TdComponent>
            <TdComponent Rowspan=2>1030</TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1030.Begin Class="w-100" />
            </TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1030.End Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["whichAccountedForUsingEquityMethod"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["otherFinancialInvestments"]</TdComponent>
            <TdsF1Component Field=@F1.F1035 FieldNumber="1035"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["LongTermReceivables"]</TdComponent>
            <TdsF1Component Field=@F1.F1040 FieldNumber="1040" />
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["Відстрочені податкові активи"]</TdComponent>
            <TdsF1Component Field=@F1.F1045 FieldNumber="1045"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherFixedAssets"]</TdComponent>
            <TdsF1Component Field=@F1.F1090 FieldNumber="1090"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalSection"]+" I")</ThComponent>
            <ThComponent>1095</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1095Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1095End()</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">II. @ResLoc["CurrentAssets"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Stocks"])</TdComponent>
            <TdComponent>1100</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1100Begin()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F1.GetF1100End()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["productionStocks"])</TdComponent>
            <TdsF1Component Field=@F1.F1101 FieldNumber="1101"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["unfinishedProduction"])</TdComponent>
            <TdsF1Component Field=@F1.F1102 FieldNumber="1102"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["finishedProducts"])</TdComponent>
            <TdsF1Component Field=@F1.F1103 FieldNumber="1103"/>
        </tr>

        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["cargo"])</TdComponent>
            <TdsF1Component Field=@F1.F1104 FieldNumber="1104"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["CurrentBiologicalAssets"])</TdComponent>
            <TdsF1Component Field=@F1.F1110 FieldNumber="1110"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["PromissoryNotesReceived"])</TdComponent>
            <TdsF1Component Field=@F1.F1120 FieldNumber="1120"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ReceivablesForProducts"])</TdComponent>
            <TdsF1Component Field=@F1.F1125 FieldNumber="1125"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AccountsReceivableForDebts"])</TdComponent>
            <TdComponent Rowspan=2>1130</TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1130.Begin Class="w-100" />
            </TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1130.End Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["onIssuedAdvances"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["withBudget"]</TdComponent>
            <TdsF1Component Field=@F1.F1135 FieldNumber="1135"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-5">@ResLoc["includingIncomeTax"]</TdComponent>
            <TdsF1Component Field=@F1.F1136 FieldNumber="1136"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["fromAccruedIncome"])</TdComponent>
            <TdsF1Component Field=@F1.F1140 FieldNumber="1140"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["fromInternalSettlements"])</TdComponent>
            <TdsF1Component Field=@F1.F1145 FieldNumber="1145"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherCurrentReceivables"])</TdComponent>
            <TdsF1Component Field=@F1.F1155 FieldNumber="1155"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["CurrentFinancialInvestments"])</TdComponent>
            <TdsF1Component Field=@F1.F1160 FieldNumber="1160"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["MoneyAndTheirEquivalents"])</TdComponent>
            <TdsF1Component Field=@F1.F1165 FieldNumber="1165"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FutureExpenses"])</TdComponent>
            <TdsF1Component Field=@F1.F1170 FieldNumber="1170"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherCurrentAssets"])</TdComponent>
            <TdsF1Component Field=@F1.F1190 FieldNumber="1190"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalSection"]+" II")</ThComponent>
            <ThComponent>1195</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1195Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1195End()</ThComponent>
        </tr>
        <tr>
            <ThComponent Align="ML" Spacing="pl-5">III. @ResLoc["NonCurrentAssetsHeldForSale"]</ThComponent>
            <TdsF1Component Field=@F1.F1200 FieldNumber="1200"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@ResLoc["Balance"]</ThComponent>
            <ThComponent>1300</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1300Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1300End()</ThComponent>
        </tr>
    </tbody>
</table>

<table class="table table-bordered py-0 table-sm">
    <thead>
        <tr>
            <ThComponent>@ResLoc["Liabilities"]</ThComponent>
            <ThComponent>@ResLoc["LineСode"]</ThComponent>
            <ThComponent>@ResLoc["AtBeginningReportingPeriod"]</ThComponent>
            <ThComponent>@ResLoc["AtEndingReportingPeriod"]</ThComponent>
        </tr>
    </thead>
    <tbody>
        <tr>
            <TdComponent>1</TdComponent>
            <TdComponent>2</TdComponent>
            <TdComponent>3</TdComponent>
            <TdComponent>4</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">I. @ResLoc["Equity"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RegisteredСapital"])</TdComponent>
            <TdsF1Component Field=@F1.F1400 FieldNumber="1400"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["CapitalInRevaluations"])</TdComponent>
            <TdsF1Component Field=@F1.F1405 FieldNumber="1405"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdditionalCapital"])</TdComponent>
            <TdsF1Component Field=@F1.F1410 FieldNumber="1410"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ReserveCapital"])</TdComponent>
            <TdsF1Component Field=@F1.F1415 FieldNumber="1415"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RetainedEarnings"])</TdComponent>
            <TdsF1Component Field=@F1.F1420 FieldNumber="1420"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["UnpaidCapital"])</TdComponent>
            <TdsF1Component Field=@F1.F1425 FieldNumber="1425"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["WithdrawnCapital"])</TdComponent>
            <TdsF1Component Field=@F1.F1430 FieldNumber="1430"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalSection"]+" I")</ThComponent>
            <ThComponent>1495</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1495Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1495End()</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">II. @ResLoc["LongTermLiabilitiesAndCollateral"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DeferredTaxLiabilities"])</TdComponent>
            <TdsF1Component Field=@F1.F1500 FieldNumber="1500"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LongTermBankCredits"])</TdComponent>
            <TdsF1Component Field=@F1.F1510 FieldNumber="1510"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherLongTermLiabilities"])</TdComponent>
            <TdsF1Component Field=@F1.F1515 FieldNumber="1515"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LongTermLoans"])</TdComponent>
            <TdsF1Component Field=@F1.F1520 FieldNumber="1520"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["TargetedFinancing"])</TdComponent>
            <TdsF1Component Field=@F1.F1525 FieldNumber="1525"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalSection"]+" II")</ThComponent>
            <ThComponent>1595</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1595Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1595End()</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">III. @ResLoc["CurrentLiabilitiesAndProvisions"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ShortTermBankCredits"])</TdComponent>
            <TdsF1Component Field=@F1.F1600 FieldNumber="1600"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["PromissoryNotesIssued"])</TdComponent>
            <TdsF1Component Field=@F1.F1605 FieldNumber="1605"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["CurrentAccountsPayableFor"])</TdComponent>
            <TdComponent Rowspan=2>1610</TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1610.Begin Class="w-100" />
            </TdComponent>
            <TdComponent Rowspan=2 Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F1.F1610.End Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@(ResLoc["longTermLiabilities"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["goodsWorksServices"]</TdComponent>
            <TdsF1Component Field=@F1.F1615 FieldNumber="1615"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["settlementsWithBudget"]</TdComponent>
            <TdsF1Component Field=@F1.F1620 FieldNumber="1620"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-5">@ResLoc["includingIncomeTax"]</TdComponent>
            <TdsF1Component Field=@F1.F1621 FieldNumber="1621"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["settlementsWithInsurance"]</TdComponent>
            <TdsF1Component Field=@F1.F1625 FieldNumber="1625"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["settlementsWithPayroll"]</TdComponent>
            <TdsF1Component Field=@F1.F1630 FieldNumber="1630"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["onReceivedAdvances"]</TdComponent>
            <TdsF1Component Field=@F1.F1635 FieldNumber="1635"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["bySettlementsWithParticipants"]</TdComponent>
            <TdsF1Component Field=@F1.F1640 FieldNumber="1640"/>
        </tr>
        <tr>
            <TdComponent Align="ML" Spacing="pl-4">@ResLoc["fromInternalSettlements"]</TdComponent>
            <TdsF1Component Field=@F1.F1645 FieldNumber="1645"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["CurrentSupplies"])</TdComponent>
            <TdsF1Component Field=@F1.F1660 FieldNumber="1660"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FutureIncome"])</TdComponent>
            <TdsF1Component Field=@F1.F1665 FieldNumber="1665"/>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherCurrentLiabilities"])</TdComponent>
            <TdsF1Component Field=@F1.F1690 FieldNumber="1690"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalSection"]+" III")</ThComponent>
            <ThComponent>1695</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1695Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1695End()</ThComponent>
        </tr>
        <tr>
            <ThComponent Align="ML" Spacing="pl-5">III. @ResLoc["LiabilitiesRelatedNonCurrentAssetsHeldForSale"]</ThComponent>
            <TdsF1Component Field=@F1.F1700 FieldNumber="1700"/>
        </tr>
        <tr>
            <ThComponent Align="ML">@ResLoc["Balance"]</ThComponent>
            <ThComponent>1900</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1900Begin()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F1.GetF1900End()</ThComponent>
        </tr>
    </tbody>
</table>

@code
{
    [Parameter]
    public Form1 F1 { get; set; } = new();

    private event Action? fieldChanged;

    protected override void OnInitialized()
    {
        fieldChanged = () => StateHasChanged();
        F1.OnChange += fieldChanged;
        base.OnInitialized();
    }

    public void Dispose() => F1.OnChange -= fieldChanged;
}
