@implements IDisposable

<table class="table table-bordered py-0 table-sm">
    <thead>
        <tr>
            <ThComponent>@ResLoc["Article"]</ThComponent>
            <ThComponent>@ResLoc["LineСode"]</ThComponent>
            <ThComponent>@ResLoc["ForReportingPeriod"]</ThComponent>
            <ThComponent>@ResLoc["ForSamePeriodLastYear"]</ThComponent>
        </tr>
    </thead>
    <tbody>
        <tr>
            <TdComponent>1</TdComponent>
            <TdComponent>2</TdComponent>
            <TdComponent>3</TdComponent>
            <TdComponent>4</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">I. @ResLoc["FinancialResults"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["NetIncomeFromSalesOfProducts"]</TdComponent>
            <TdComponent>2000</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2000.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2000.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["CostOfGoodsSold"]</TdComponent>
            <TdComponent>2050</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2050.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2050.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Gross"]):</TdComponent>
            <TdComponent Rowspan="2">2090</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2090Curent()</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2090Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2095</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2095Curent()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2095Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingIncome"]</TdComponent>
            <TdComponent>2120</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2120.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2120.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["AdministrativeExpenses"]</TdComponent>
            <TdComponent>2130</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2130.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2130.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["SellingExpenses"]</TdComponent>
            <TdComponent>2150</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2150.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2150.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["OtherOperatingExpenses"]</TdComponent>
            <TdComponent>2180</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2180.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2180.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultFromOperatingActivities"]):</TdComponent>
            <TdComponent Rowspan="2">2190</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2190Curent()</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2190Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2195</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2195Curent()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2195Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeFromEquityParticipation"])</TdComponent>
            <TdComponent>2200</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2200.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2200.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherFinancialIncome"])</TdComponent>
            <TdComponent>2220</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2220.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2220.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherIncome"])</TdComponent>
            <TdComponent>2240</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2240.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2240.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialExpenses"])</TdComponent>
            <TdComponent>2250</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2250.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2250.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["LossesFromEquityParticipation"])</TdComponent>
            <TdComponent>2255</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2255.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2255.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherExpenses"])</TdComponent>
            <TdComponent>2270</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2270.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2270.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["FinancialResultBeforeTax"]):</TdComponent>
            <TdComponent Rowspan="2">2290</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2290Curent()</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2290Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2295</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2295Curent()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2295Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ExpensesIncomeFromIncomeTax"])</TdComponent>
            <TdComponent>2300</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2300.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2300.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ProfitLossFromDiscontinuedOperationsAfterTax"])</TdComponent>
            <TdComponent>2305</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2305.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2305.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetFinancialResult"]):</TdComponent>
            <TdComponent Rowspan="2">2350</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2350Curent()</TdComponent>
            <TdComponent Rowspan="2" Align="MR" Spacing="pr-4">@F2.GetF2350Previous()</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["profit"])</TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@ResLoc["loss"]</TdComponent>
            <TdComponent>2355</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2355Curent()</TdComponent>
            <TdComponent Align="MR" Spacing="pr-4">@F2.GetF2355Previous()</TdComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">II. @ResLoc["ComprehensiveIncome"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationNonCurrentAssets"])</TdComponent>
            <TdComponent>2400</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2400.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2400.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["RevaluationDepreciationFinancialInstruments"])</TdComponent>
            <TdComponent>2405</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2405.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2405.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AccumulatedExchangeRateDifferences"])</TdComponent>
            <TdComponent>2410</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2410.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2410.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["ShareOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2415</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2415.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2415.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherTotalIncome"])</TdComponent>
            <TdComponent>2445</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2445.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2445.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregatePreTaxIncome"])</ThComponent>
            <ThComponent>2450</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2450Curent()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2450Previous()</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["IncomeTaxRelatedOtherComprehensiveIncome"])</TdComponent>
            <TdComponent>2455</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2455.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2455.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["OtherAggregateIncomeAfterTax"])</ThComponent>
            <ThComponent>2460</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2460Curent()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2460Previous()</ThComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["TotalIncome"])</ThComponent>
            <ThComponent>2465</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2465Curent()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2465Previous()</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">III. @ResLoc["ElementsOperatingCosts"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["MaterialCosts"])</TdComponent>
            <TdComponent>2500</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2500.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2500.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["SalaryExpenses"])</TdComponent>
            <TdComponent>2505</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2505.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2505.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["DeductionsSocialEvents"])</TdComponent>
            <TdComponent>2510</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2510.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2510.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Amortization"])</TdComponent>
            <TdComponent>2515</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2515.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2515.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["OtherOperatingExpenses"])</TdComponent>
            <TdComponent>2520</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2520.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2520.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <ThComponent Align="ML">@(ResLoc["Total"])</ThComponent>
            <ThComponent>2550</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2550Curent()</ThComponent>
            <ThComponent Align="MR" Spacing="pr-4">@F2.GetF2550Previous()</ThComponent>
        </tr>
        <tr>
            <ThComponent Colspan=4 Align="ML" Spacing="pl-5">ІV. @ResLoc["CalculationStockProfitabilityIndicators"]</ThComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2600</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2600.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2600.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedAverageNumberOrdinaryShares"])</TdComponent>
            <TdComponent>2605</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2605.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2605.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["NetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2610</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2610.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2610.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["AdjustedNetProfitLossPerOrdinaryShare"])</TdComponent>
            <TdComponent>2615</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2615.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2615.Previous Class="w-100" />
            </TdComponent>
        </tr>
        <tr>
            <TdComponent Align="ML">@(ResLoc["Divid.PrevioussPerSimpleShare"])</TdComponent>
            <TdComponent>2650</TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2650.Curent Class="w-100" />
            </TdComponent>
            <TdComponent Align="MR">
                <RadzenNumeric TValue="double" ShowUpDown="false" @bind-Value=@F2.F2650.Previous Class="w-100" />
            </TdComponent>
        </tr>
    </tbody>
</table>

@code
{
    [Parameter]
    public Form2 F2 { get; set; } = new();

    private event Action? fieldChanged;

    protected override void OnInitialized()
    {
        fieldChanged = () => StateHasChanged();
        MainModel.F2Base.OnChange += fieldChanged;
        base.OnInitialized();
    }

    public void Dispose() => MainModel.F2Base.OnChange += fieldChanged;
}
