<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@ResLoc["AssessmentOfFinancialStatements"]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span>@ResLoc["InputData"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="characteristicsofcapital">
                <span class="oi oi-media-record" aria-hidden="true"></span>1. @ResLoc["CharacteristicsOfCapital"] 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-1" href="indicatorsofturnoverofcurrentassets">
                <span class="oi oi-media-record" aria-hidden="true"></span>2. @ResLoc["IndicatorsOfTurnoverOfCurrentAssets"] 
            </NavLink>
        </div>
          <div class="nav-item">
            <NavLink class="nav-link lh-1" href="factorsaffectingturnoverofworkingcapital">
                <span class="oi oi-media-record" aria-hidden="true"></span>3. @ResLoc["FactorsAffectingTurnoverOfWorkingCapital"] 
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
