<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@ResLoc["AssessmentOfFinancialStatements"]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span>@ResLoc["InputData"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="characteristicsofcapital">
                1. @ResLoc["CharacteristicsOfCapital"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="indicatorsofturnoverofcurrentassets">
                2. @ResLoc["IndicatorsOfTurnoverOfCurrentAssets"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="factorsaffectingturnoverofworkingcapital">
                3. @ResLoc["FactorsAffectingTurnoverOfWorkingCapital"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="indicatorsofefficiencyofworkingcapital">
                4. @ResLoc["IndicatorsOfEfficiencyOfWorkingCapital"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="availabilityandmovementoffixedassets">
                5. @ResLoc["AvailabilityAndMovementOfFixedAssets"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="indicatorsofstateandmovementoffixedassets">
                6. @ResLoc["IndicatorsOfStateAndMovementOfFixedAssets"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="calculationofIndicatorsofefficiencyofuseoffixedassets">
                7. @ResLoc["CalculationOfIndicatorsOfEfficiencyOfUseOfFixedAssets"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="factoranalysisoffixedassets">
                8. @ResLoc["FactorAnalysisOfFixedAssets"]
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link lh-1" href="indicatorsofefficiencyofuseofintangibleassets">
                9. @ResLoc["IndicatorsOfEfficiencyOfUseOfIntangibleAssets"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
